<script>
$(function() {
  $.datepicker.setDefaults({dateFormat: "yy-mm-dd"});
  $("#cpudbdfrom").datepicker({
    minDate: gon.startDate,
    maxDate: -1,
    defaultDate: "-1d",
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
	    onSelect: function(selectedDate) {
	      $("#cpudbdto").datepicker("option", "minDate", selectedDate);
	     	}
     });

  $("#cpudbdto").datepicker({
    minDate: "#cpudbdfrom",
    maxDate: -1,
    defaultDate: "-1d",
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
	    onSelect: function(selectedDate) {
	      $("#cpudbdfrom").datepicker("option", "maxDate", selectedDate);
	     }
    });
});
</script>
<h3>Day Averages</h3>
Select length of time:<br><br>
<%= simple_form_for(@cpus, :url => avgday_path(1)) do |f| %>
	From:
	<%= f.datepicker :from, id: "cpudbdfrom" %> To:
	<%= f.datepicker :to, id: "cpudbdto" %>
	<br><br>
	Select multiple by holding down "Ctrl".
	<br><br>
	<%= f.input :lpars, :collection => Location.lparList(params[:location]) , :input_html => { :multiple => true, :class => "input-large", :size => "10" }%>
	<br>
	<%= f.input :machines, :collection => Location.find(params[:location]).machines , :input_html => { :multiple => true, :class => "input-large", :size => "5" }%>
	<br>	
  <div class="actions">
    <%= f.submit "Graph", :class => 'btn btn-primary' %>
    <%= submit_tag 'Clear', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>