<h3>ME/FBD Comparison</h3>
A month end and first business day comparison report based upon selected data below.<br><br>

<%= simple_form_for(@cpus, :url => mefbdc_path) do |f| %>
	<%= f.input :months, :collection => Cpu.pluck("DATE_FORMAT(datetime, '%M, %Y')").uniq, :input_html => { :multiple => true, :class => "input-large", :size => "5" }%>	
  	<%= f.input :lpars, :label => 'LPARs', :collection => @lpars, :input_html => { :multiple => true, :class => "input-large", :size => "10" }%>
	<span class="help-block label label-info" style="width: 380px">Select multiple by holding down "Ctrl" then making selections.</span>
	<%= f.input :machines, :collection => @machines, :input_html => { :multiple => true, :class => "input-large", :size => "5" }%>
	<%= f.input :maxMips, :label => 'Max MIPS Line', :as => :boolean %>
	<%= f.input :includeWeights, :label => 'LPAR Weight Line', :as => :boolean %>
	<br>
  <div class="actions">
    <%= f.submit "Graph ME/FBD comparison", :class => 'btn btn-primary' %>
    <%= submit_tag 'Clear', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
