<h3>ME/FBD</h3>
A month end and first business day report based upon selected data below.
<br>
<div class="modal hide" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">ME/FBD</h3>
  </div>
  <div class="modal-body">
    <%= image_tag 'cmefbd.png' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<br>
<%= simple_form_for(@cpus, :url => mefbd_path(1)) do |f| %>
	<%= f.input :lpars, :label => 'LPARs', :collection => @lpars, :input_html => { :multiple => true, :class => "input-large", :size => "10" }%>
	<span class="help-block label label-info" style="width: 380px">Select multiple by holding down "Ctrl" then making selections.</span>
	<br>
	<%= f.input :maxMips, :label => 'Max MIPS Line', :as => :boolean %>
	<%= f.input :includeWeights, :label => 'LPAR Weight Line', :as => :boolean %>
	<br>
	<%= f.input :machines, :collection => @machines, :input_html => { :multiple => true, :class => "input-large", :size => "5" }%>
	<br>	
  <div class="actions">
    <%= f.submit "Graph ME/FBD", :class => 'btn btn-primary' %>
    <%= submit_tag 'Clear', :type => :reset, :class => "btn btn-danger" %>
    <a href="#myModal6" role="button" class="btn btn-info" data-toggle="modal">Preview</a>
  </div>
<% end %>
