<script type="text/javascript">
$(function() {
	$('div#weightpanel').hide();

	var mipsChart = new Highcharts.Chart({
			chart: { renderTo: "chart", type: "spline",
			 events: {
	 		   load: function(){
	 		   	//Draw maximum machine mips line if required
				if ( <%= params[:cpu][:maxMips] %> ){
					<% @machines.each do |m| %>
						this.yAxis[0].addPlotLine(
						{  value: <%= m.machineConfig.capacity.mips %>,
					 	   width: 2,
						   color: 'green',
						   dashStyle: 'dash',
						   label : { text: '<%= m.name %> <%= m.machineConfig.capacity.mips %>'}
						});
						if (this.yAxis[0].getExtremes().dataMax < <%= m.machineConfig.capacity.mips %>) {
							   this.yAxis[0].setExtremes(0, <%= m.machineConfig.capacity.mips %>);
						};
				<% end %>			
				};				
	 		   	//Draw lpar weight lines and bars if required
		    	if ( <%= params[:cpu][:includeWeights] %> ) {
		    		$('div#weightpanel').show();
		    		<% @lpars.each do |lpar| %>
			    		this.yAxis[0].addPlotLine(	
			          { color: 'black',
			            dashStyle: 'dash',
			            label : { text: '<%= lpar.name %> Weight <%= (lpar.lparConfig.codedWeight.to_f / 100 * lpar.machines[0].machineConfig.capacity.mips).ceil %>',
			            		  align: 'center',
			            		  x: 300,
		            		   	  style: {
				            		  	fontWeight: 'bold',
				            		  	color: 'black'
				            	  }
			            		 },
			            id: <%= lpar.id %>,
			            value: <%= lpar.lparConfig.codedWeight.to_f / 100 * lpar.machines[0].machineConfig.capacity.mips %>,
			            width: 1
			          });
			         <% end %>
			    //Create the sliders to change label positions
				<% @lpars.each_with_index do |lpar,index| %>
					$( "#slider-range-min<%= index %>" ).slider({
						range: "min",
						value: 300,
						min: -600,
						max: 600,
						slide: function( event, ui ) {
							$( "#amount<%= index %>" ).val( ui.value );	
						}
					});
					$( "#amount<%= index %>" ).val( $( "#slider-range-min<%= index %>" ).slider( "value" ) );
				<% end %>
		       };					 		   	
	 		  }				 	
			 }			
			},
			title: { text: "ME/FBD <%= Date.today.beginning_of_month.previous_business_day('us') %> to <%= Date.today.beginning_of_month.next_business_day('us') %>"  },
			xAxis: { type: "datetime",
					 dateTimeLabelFormats: { minute: '%H:%M:%S %b-%e' },
    				 tickInterval: 7200000,
    				 labels: { rotation:-45, align: 'right' }
    				},
			yAxis: { title: { text: "MIPS Used" },
					 min: 0					 
					},
			plotOptions: {
					spline: {
						lineWidth: 4,
						states: {
							hover: {
								lineWidth: 5
							}
						},
						marker: {
							enabled: false
						}
			},
		},
		series: [
			<% params[:cpu][:lpars].each do |lpar| %>
			{
				name: "<%= Lpar.find(lpar).name %>",   		
				data: <%= Cpu.mefbdTotalsByLPAR(lpar.to_i, Date.today.beginning_of_month.to_s ) %>,
				pointInterval: 1200000
			},
			<% end %>
			<% params[:cpu][:machines].each do |m| %>
			{
				name: "<%= Machine.find(m.to_i).name %>",
				data: <%= Cpu.mefbdTotalsByBox(m.to_i, Date.today.beginning_of_month.to_s ) %>,
				pointInterval: 1200000
			},
			<% end %>
		]
		}, function(chart) {
				//When refresh button is clicked, update label positions based on value of slider bar
				$('#button').click(function(event) {
					event.preventDefault();
					<% @lpars.each_with_index do |lpar,index| %>
							var value = $("#amount<%= index %>").val();		
					    	mipsChart.yAxis[0].removePlotLine(<%= lpar.id %>);
					    	mipsChart.yAxis[0].addPlotLine(	
					          { color: 'black',
					            dashStyle: 'dash',
					            label : { text: '<%= lpar.name %> Weight <%= (lpar.lparConfig.codedWeight.to_f / 100 * lpar.machines[0].machineConfig.capacity.mips).ceil %>',
					            		  align: 'center',
					            		  x: parseInt(value),
					            		  style: {
					            		  	fontWeight: 'bold',
					            		  	color: 'black'
					            		  }
					            		 },
					            id: <%= lpar.id %>,
					            value: <%= lpar.lparConfig.codedWeight.to_f / 100 * lpar.machines[0].machineConfig.capacity.mips %>,
					            width: 1
					          });
		    				mipsChart.redraw();
		    		<% end %>	
				});
    	});		
});
</script>

<div id="chart" style="width:1200px; height:600px;"></div>
<br>
<div id="weightpanel">
	<% @lpars.each_with_index do |lpar,index| %>
		<br><label for="amount<%= index %>"><%= lpar.name %> Weight Label Position</label><input type="text" id="amount<%= index %>" style="border:0; color:#f6931f; font-weight:bold;" /><div id="slider-range-min<%= index %>"></div><br>
	<% end %>
	<br><br>
	<button class="btn" id="button">Refresh</button>
</div>