<script type="text/javascript">
$(function() {
	//Set the charts colors
	Highcharts.setOptions({
    colors: [
'#C46210',	
'#2E5894',
'#9C2542',	
'#BF4F51',
'#A57164',	
'#58427C',	
'#4A646C',	
'#85754E',	
'#319177',	
'#0A7E8C',	
'#9C7C38',
'#8D4E85',	
'#8FD400',	
'#D98695',	
'#757575',	
'#0081AB',
'#CDC5C2',
'#80DAEB',
'#ECEABE',
'#FFCF48',
'#FD5E53',
'#FAA76C',
'#18A7B5',
'#EBC7DF',
]
});
	var chart = new Highcharts.Chart({
			chart: { renderTo: "miipsChart", type: "spline" },
			title: { text: "ME/FBD <%= Date.today.beginning_of_month.previous_business_day('us') %> to <%= Date.today.beginning_of_month.next_business_day('us') %>"  },
			xAxis: { type: "datetime",
					 dateTimeLabelFormats: { minute: '%H:%M:%S %b-%e' },
    				 tickInterval: 7200000,
    				 labels: { rotation:-45, align: 'right' }
    				},
			yAxis: { title: { text: "MIPS Used" },
					 min: 0					 
					},
			plotOptions: {
					spline: {
						lineWidth: 4,
						states: {
							hover: {
								lineWidth: 5
							}
						},
						marker: {
							enabled: false
						}
			},
		},
		series: [
			<% params[:cpu][:lpars].each do |lpar| %>
			{
				name: "<%= Lpar.find(lpar).name %>",   		
				data: <%= Cpu.mefbdTotalsByLPAR(lpar.to_i, Date.today.beginning_of_month.to_s ) %>,
				pointInterval: 1200000
			},
			<% end %>
			<% params[:cpu][:machines].each do |m| %>
			{
				name: "<%= Machine.find(m.to_i).name %>",
				data: <%= Cpu.mefbdTotalsByBox(m.to_i, Date.today.beginning_of_month.to_s ) %>,
				pointInterval: 1200000
			},
			<% end %>
		]
	});
});
</script>

<div id="mipsChart" style="width:1200px; height:600px;"></div>