.page-header
  %h1 Emerald Information
#box
  %h3 Emerald
  %ul.nav.nav-list
    %li.nav-header Documentation
    %li= link_to "Emerald API", "http://p21mcref01/eapi/"
    %li= link_to "Highcharts Reference", "http://api.highcharts.com/highcharts#chart"
    %li= link_to "Ruby-On-Rails Reference", "http://p21mcref01/rails-api/"
    %li= link_to "JQuery API", "http://api.jquery.com/"
    %li= link_to "RSPEC API", "http://rubydoc.info/gems/rspec-core/2.6.4/index"
    
    %li.nav-header Status Reports
    %li= link_to "Emerald Status", "http://p21mcref01/rspec_output.html"
    %li.nav-header Code History
    %li= link_to "Emerald History", "http://p21mcref01:1234/?p=.git;a=summary"
    
    

