:javascript
  $(document).ready(function(){
   $('.dropdown-toggle').dropdown()	
  });
.page-header
  %h1 Reports
- Location.all.each_with_index do |l,i|
  #box
    %h3= l.name
    %ul.nav.nav-list
      %li.nav-header ZIIP
      %li= link_to "ZIIP Stats", ziipreport_path(location: l.id)
      -#%li= link_to "ZIIP Custom", ziips_custom_path(1, location: l.id) // Saving for later implementation, too complex     
      %li= link_to "ZIIP Canned", ziips_canned_path(1, location: l.id)
      #accordion1.accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#collapse1#{i}"}
              All Data
          .accordion-body.collapse{:id => "collapse1#{i}"}
            .accordion-inner
              %ul.nav.nav-list
                - l.machines.each_with_index do |m,x|
                  %li= link_to m.name, ziips_allAvg_path(m.id, m.name)
                  - l.machines[x].lpars.each do |lpar|
                    %li= link_to lpar.name, ziips_all_path(1, lpar.name)
      %li.nav-header CPU
      %li= link_to "CPU Stats", cpureport_path(location: l.id)
      -#%li= link_to "CPU Custom", cpus_custom_path(1, location: l.id) // Saving for later implementation, too complex
      %li= link_to "CPU Canned", cpus_canned_path(1, location: l.id)
      #accordion2.accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse2#{i}"}
              All Data
          .accordion-body.collapse{:id => "collapse2#{i}"}
            .accordion-inner
              %ul.nav.nav-list
                - l.machines.each_with_index do |m,x|
                  %li= link_to m.name, cpus_allBox_path(m.id, m.name)
                  - l.machines[x].lpars.each do |lpar|
                    %li= link_to lpar.name, cpus_all_path(1, lpar.smfid)