- model_class = InformationManagementSystem
%h1= t '.title', default: model_class.model_name.human.pluralize
.page-header
  = link_to image_tag('xls-icon.png', height: "3.5%", width: "3.5%"),url_for(format: 'xls'),class: "xlsicon"
  = link_to image_tag('PDF_icon.gif', height: "3%", width: "3%"), url_for(format: 'pdf')
  %br
    %br  
  %table.table.table-striped
    %tr
      %th Id
      %th Name
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', default: t("helpers.actions")
  
    - @information_management_systems.each do |information_management_system|
      %tr
        %td= information_management_system.id
        %td= information_management_system.name
        %td= l information_management_system.created_at
        %td
          = link_to t('.edit', default: t("helpers.links.edit")), edit_information_management_system_path(lpar_config), class: 'btn btn-mini'
          = link_to t('.destroy', default: t("helpers.links.destroy")), information_management_system_path(lpar_config), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'
= link_to t('.new', default: t("helpers.links.new")), new_information_management_system_path, class: 'btn btn-primary'

