%p#notice= notice

%p
  %b Id:
  = @information_management_system.id
%p
  %b Name:
  = @information_management_system.name

= link_to 'Edit', edit_information_management_system_path(@information_management_system)
\|
= link_to 'Back', information_management_systems_path
