<script>
$(function() {
  $.datepicker.setDefaults({dateFormat: "yy-mm-dd"});
  $("#from").datepicker({
    minDate: gon.startDate,   
	maxDate: gon.endDate,
    defaultDate: "-1d",
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
	    onSelect: function(selectedDate) {
	      $("#to").datepicker("option", "minDate", selectedDate);
	     	}
     });

  $("#to").datepicker({
    minDate: "#cpudbdfrom",
  	maxDate: gon.endDate,
    defaultDate: "-1d",
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
	    onSelect: function(selectedDate) {
	      $("#from").datepicker("option", "maxDate", selectedDate);
	     }
    });
});
</script>
<h3>Day Averages</h3>
Select length of time:<br><br>
<%= simple_form_for(@ziips, :url => dayAverages_path(1)) do |f| %>
	From:
	<%= f.datepicker :from, id: "from" %> To:
	<%= f.datepicker :to, id: "to" %>
	<br><br>
	Select multiple by holding down "Ctrl".
	<br><br>
	<%= f.input :lpars, :collection => @lparList , :input_html => { :multiple => true, :class => "input-large", :size => "10" }%>
	<br>
	<%= f.input :machines, :collection => @machineList , :input_html => { :multiple => true, :class => "input-large", :size => "5" }%>
	<br>	
  <div class="actions">
    <%= f.submit "Graph", :class => 'btn btn-primary' %>
    <%= submit_tag 'Clear', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>