<%= form_for(@ziip) do |f| %>
  <% if @ziip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ziip.errors.count, "error") %> prohibited this ziip from being saved:</h2>

      <ul>
      <% @ziip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :DateTime %><br />
    <%= f.input :DateTime %>
  </div>
  <div class="field">
    <%= f.label :LPAR %><br />
    <%= f.text_field :LPAR %>
  </div>
  <div class="field">
    <%= f.label :PCTBOX %><br />
    <%= f.text_field :PCTBOX %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
