<h3>Two Week Totals</h3>
Two week data for selected systems.<br>
<br>
<%= simple_form_for(@ziips, :url => twoweektot_path(1)) do |f| %>
		<%= f.input :lpars, :collection => Location.lparList(params[:location]) , :input_html => { :multiple => true, :class => "input-large", :size => "10" }%>
	<span class="help-block label label-info" style="width: 380px">Select multiple by holding down "Ctrl" then making selections.</span>
	<br>
		<%= f.input :machines, :collection => Location.find(params[:location]).machines , :input_html => { :multiple => true, :class => "input-large", :size => "5" }%>	
  	<br>
  <div class="actions">
    <%= f.submit "Graph", :class => 'btn btn-primary' %>
    <%= submit_tag 'Clear', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>