- model_class = Ziip
.page-header
  %h1 Canned ZIIP Graphs #{Location.find(params[:location]).name}
.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#twowe"}2 Week Averages by Day
    %li
      %a{"data-toggle" => "tab", href: "#twotd"}2 Week Averages
    %li
      %a{"data-toggle" => "tab", href: "#ma"}Monthly Averages
    %li
      %a{"data-toggle" => "tab", href: "#da"}Daily Averages
    %li
      %a{"data-toggle" => "tab", href: "#tabd"}Peak Periods
    %li
      %a{"data-toggle" => "tab", href: "#mefbd"}ME/FBD
  .tab-content
    #twowe.tab-pane.active
      = render partial: 'twoweekavg'
    #twotd.tab-pane
      = render partial: 'twoWeekTotals'
    #ma.tab-pane
      = render partial: 'monthAverages'
    #da.tab-pane
      = render partial: 'dayAverages'
    #tabd.tab-pane
      = render partial: 'peaksGraph'
    #mefbd.tab-pane
      MEFBD - Under construction