<h1>Listing ziips</h1>

<table class="table table-striped">
	<thead>
  <tr>
    <th>Id</th>
    <th>Datetime</th>
    <th>Lpar</th>
    <th>Pctbox</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @ziips.each do |ziip| %>
  <tr>
    <td><%= ziip.id %></td>
    <td><%= ziip.DateTime %></td>
    <td><%= ziip.LPAR %></td>
    <td><%= ziip.PCTBOX %></td>
    <td><%= link_to 'Show', ziip %></td>
    <td><%= link_to 'Edit', edit_ziip_path(ziip) %></td>
    <td><%= link_to 'Destroy', ziip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<br />
<%= will_paginate @ziips, :renderer => BootstrapPagination::Rails%>
<%= link_to 'New Ziip', new_ziip_path %> 
<br>