<script type="text/javascript">
$(function() {
	var chart = new Highcharts.Chart({
			chart: { renderTo: "ziipsChart", type: "column" },
			title: { text: "ZIIP Peaks" },
			xAxis: {
					 categories: [
					 <% @lparPeaks.each do |c| %>
					 	'<%= c.LPAR %> - <%= c.DateTime %>',
					 <% end %>
					 <% @machinePeaks.each_with_index do |mp,index| %>
					 	'<%= @machinePeaks[index][0] %> - <%= @machinePeaks[index][2] %>',
					 <% end %>
					 ],
					labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '8px',
                        fontFamily: 'Verdana, sans-serif'
                    }
    			},
    		},
			yAxis: { title: { text: "% of ZIIP Used" },
					 labels: {
    				  	formatter: function () {
				            return Highcharts.numberFormat(this.value, 0) + ' %';
				        }
				     }
				    },
			tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.numberFormat(this.y, 2) +' %';
                }
            },
			series: [
			{   
				name: 'LPAR Peaks',		
				data: <%= @peakData %>
			},
			{   
				name: 'Machine Peaks',		
				data: <%= @mpeakData %>
			}
					]
	});
});
</script>

<div id="ziipsChart" style="width:1200px; height:600px;"></div>