<p>
  <b>Id:</b>
  <%= @ziip.id %>
</p>

<p>
  <b>Datetime:</b>
  <%= @ziip.DateTime %>
</p>

<p>
  <b>Lpar:</b>
  <%= @ziip.LPAR %>
</p>

<p>
  <b>Pctbox:</b>
  <%= @ziip.PCTBOX %>
</p>


<%= link_to 'Edit', edit_ziip_path(@ziip) %> |
<%= link_to 'Back', ziips_path %>
