= simple_form_for @machine_lpar, html: { class: 'form-horizontal' } do |f|
  %fieldset
    .control-group
      %label.control-label LPAR:
      .controls
        = f.select :lpar_id, Lpar.all.collect{ |c| [c.name, c.id] }
      %label.control-label Machine:
      .controls
        = f.select :machine_id, Machine.all.collect{ |c| [c.name, c.id] }
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), machine_lpars_path, class: 'btn'
