= simple_form_for @lpar_config, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    .control-group
      %label.control-label LPAR:
      .controls
        = f.select :lpar_id, Lpar.all.collect{ |c| [c.name, c.id] }
    = f.input :codedWeight
    = f.input :runningWeight
    = f.input :ziipWeight
    = f.input :zaapWeight
    = f.input :localEngines
    = f.input :capValue
    = f.input :ziip
    = f.input :zaap
    = f.input :ifl
    = f.input :storageCbu
    = f.input :storageNormal
    = f.input :reservedStorage
    .form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        lpar_configs_path, :class => 'btn'                           |