- model_class = LparConfig
.page-header
  %h1= t '.title', default: model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:lpar_id)
      \:
  %dd= @lpar_config.lpar_id
  %dt
    %strong
      = model_class.human_attribute_name(:codedWeight)
      \:
  %dd= @lpar_config.codedWeight
  %dt
    %strong
      = model_class.human_attribute_name(:runningWeight)
      \:
  %dd= @lpar_config.runningWeight
  %dt
    %strong
      = model_class.human_attribute_name(:ziipWeight)
      \:
  %dd= @lpar_config.ziipWeight
  %dt
    %strong
      = model_class.human_attribute_name(:zaapWeight)
      \:
  %dd= @lpar_config.zaapWeight
  %dt
    %strong
      = model_class.human_attribute_name(:capValue)
      \:
  %dd= @lpar_config.capValue
  %dt
    %strong
      = model_class.human_attribute_name(:localEngines)
      \:
  %dd= @lpar_config.localEngines
  %dt
    %strong
      = model_class.human_attribute_name(:ziip)
      \:
  %dd= @lpar_config.ziip
  %dt
    %strong
      = model_class.human_attribute_name(:zaap)
      \:
  %dd= @lpar_config.zaap
  %dt
    %strong
      = model_class.human_attribute_name(:ifl)
      \:
  %dd= @lpar_config.ifl
  %dt
    %strong
      = model_class.human_attribute_name(:storageCbu)
      \:
  %dd= @lpar_config.storageCbu
  %dt
    %strong
      = model_class.human_attribute_name(:storageNormal)
      \:
  %dd= @lpar_config.storageNormal
  %dt
    %strong
      = model_class.human_attribute_name(:reservedStorage)
      \:
  %dd= @lpar_config.reservedStorage
.form-actions
  = link_to t('.back', default: t("helpers.links.back")), lpar_configs_path, class: 'btn'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_lpar_config_path(@lpar_config), class: 'btn'
  = link_to t('.destroy', default: t("helpers.links.destroy")), lpar_config_path(@lpar_config), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
