- model_class = SysplexLpar
%h1= t '.title', default: model_class.model_name.human.pluralize.upcase
%br
  = link_to image_tag('xls-icon.png', height: "3.5%", width: "3.5%"),url_for(format: 'xls'),class: "xlsicon"
  = link_to image_tag('PDF_icon.gif', height: "3%", width: "3%"), url_for(format: 'pdf')
  %br
    %br
      %table.table.table-striped
        %tr
          %th Id
          %th Sysplex
          %th Lpar
          %th= model_class.human_attribute_name(:created_at)
          %th= t '.actions', default: t("helpers.actions")
      
        - @sysplex_lpars.each do |sysplex_lpar|
          %tr
            %td= sysplex_lpar.id
            %td= sysplex_lpar.sysplex.name
            %td= sysplex_lpar.lpar.name
            %td= l sysplex_lpar.created_at
            %td
              = link_to t('.edit', default: t("helpers.links.edit")), edit_sysplex_lpar_path(sysplex_lpar), class: 'btn btn-mini'
              = link_to t('.destroy', default: t("helpers.links.destroy")),sysplex_lpar_path(sysplex_lpar), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'                                                                                                 |
      = link_to t('.new', default: t("helpers.links.new")), new_sysplex_lpar_path, class: 'btn btn-primary'
