- model_class = Capacity
.page-header
  %h1= t '.title', default: model_class.model_name.human.pluralize
%br
  = link_to image_tag('xls-icon.png', height: "3.5%", width: "3.5%"),url_for(format: 'xls'),class: "xlsicon"
  = link_to image_tag('PDF_icon.gif', height: "3%", width: "3%"), url_for(format: 'pdf')
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:number)
        %th= model_class.human_attribute_name(:capSetting)
        %th= model_class.human_attribute_name(:msu)
        %th= model_class.human_attribute_name(:mips)
        %th= model_class.human_attribute_name(:created_at)
        %th= t '.actions', default: t("helpers.actions")
    %tbody
      - @capacities.each do |capacity|
        %tr
          %td= link_to capacity.id, capacity_path(capacity)
          %td= capacity.name
          %td= capacity.number
          %td= capacity.capSetting
          %td= capacity.msu
          %td= capacity.mips
          %td= capacity.created_at
          %td
            = link_to t('.edit', default: t("helpers.links.edit")), edit_capacity_path(capacity), class: 'btn btn-mini'
            = link_to t('.destroy', default: t("helpers.links.destroy")), capacity_path(capacity), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'
  = will_paginate @capacities, :renderer => BootstrapPagination::Rails
  = link_to t('.new', default: t("helpers.links.new")), new_capacity_path, class: 'btn btn-primary'