- model_class = MachineConfig
.page-header
  %h1= t '.title', default: model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:machine_id)
      \:
  %dd= @machine_config.machine_id
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @machine_config.name
  %dt
    %strong
      = model_class.human_attribute_name(:mod_id)
      \:
  %dd= @machine_config.mod_id
  %dt
    %strong
      = model_class.human_attribute_name(:capacity_id)
      \:
  %dd= @machine_config.capacity_id
  %dt
    %strong
      = model_class.human_attribute_name(:machineLoc_id)
      \:
  %dd= @machine_config.machineLoc_id
  %dt
    %strong
      = model_class.human_attribute_name(:centralStorage)
      \:
  %dd= @machine_config.centralStorage
  %dt
    %strong
      = model_class.human_attribute_name(:ziip)
      \:
  %dd= @machine_config.ziip
  %dt
    %strong
      = model_class.human_attribute_name(:icf)
      \:
  %dd= @machine_config.icf
  %dt
    %strong
      = model_class.human_attribute_name(:cbu)
      \:
  %dd= @machine_config.cbu
  %dt
    %strong
      = model_class.human_attribute_name(:ifb)
      \:
  %dd= @machine_config.ifb
  %dt
    %strong
      = model_class.human_attribute_name(:es)
      \:
  %dd= @machine_config.es
  %dt
    %strong
      = model_class.human_attribute_name(:fi)
      \:
  %dd= @machine_config.fi
  %dt
    %strong
      = model_class.human_attribute_name(:osa)
      \:
  %dd= @machine_config.osa
  %dt
    %strong
      = model_class.human_attribute_name(:crypto)
      \:
  %dd= @machine_config.crypto
.form-actions
  = link_to t('.back', default: t("helpers.links.back")), machine_configs_path, class: 'btn'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_machine_config_path(@machine_config), class: 'btn'
  = link_to t('.destroy', default: t("helpers.links.destroy")), machine_config_path(@machine_config), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'